$primaryColor: #eeffcc;
.<{%=dirName %}> {
 background: $primaryColor;
 font-size: 20px;
 padding: 10px;
 .page-items{
  ul{
   list-style: none;
  }
  li{
   display: inline-block;
  }
  img{
   width: 150px;
   height: 150px;
  }
 }
}
